@import '~antd/dist/antd.css';

#root {
	height: 100%;
}

.logo {
	height: 64px;
	background: #D93025;
	color: #fff;
	font-size: 30px;
	padding: 7px 50px;
	margin: 1px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.site-layout-sub-header-background {
	background: #fff;
}

.site-layout-background {
	background: #fff;
}

[data-theme="dark"] .site-layout-sub-header-background {
	background: #141414;
}

.header {
	font-weight: 500;
}